.workout-list {
    list-style-type: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list {
    margin: auto;
    outline-style: none !important;

}

.link-detail{
    text-decoration: none !important;
}

.card-container{
    outline-style: none !important;
    text-decoration: wavy !important;
}

.card-container:hover {
    opacity: 0.9;

}