.workout-list {
    list-style-type: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.list {
    margin: auto;
}

.link-detail{
    text-decoration: none !important;
}

.card-container{
    outline-style: none !important;
}

.card-container:hover {
    opacity: 0.9;

}

@media screen and (max-width: 755px) {
    .makeStyles-root-1{
        max-width: 90vw !important;

    }
}