.footer-container {
    padding: 20px;
    margin-top: 40px;
    width: 100%;
	padding: 15px;
	display: flex;
	align-items: center;
	height: 90px;
	background-color: #edebe5;
    box-shadow: 0px 2px 3px 1px #cfcdc6;
    color: #82614e !important;
	font-family: 'Lato', sans-serif !important;
	outline-style: none !important;
    font-size: 16px !important;
   
}

.footer__logo {
    height: 80px;
}

.flex-spacer {
	flex: 1;
}

.social-link {
    color: #41555a87 !important;
    width: 30px !important;
    height: 30px !important;
}
.footer__contact {
    margin-left: 30px;
}

.footer__social{
    margin-right: 20px;
}