.header {
	width: 100%;
	max-width: 100vw;
	padding: 15px;
	display: flex;
	align-items: center;
	height: 95px;
	background-color: #edebe5;
	top: 0;
	box-shadow: 0px 2px 3px 1px #cfcdc6;
}

.header__logo{
    height: 90px;
}

.link {
	text-decoration: none;
	color: #805f4c;
}

@media screen and (min-width: 600px) {
	.burger-btn {
		display: none !important;
	}
}