.image-detail {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.image-box {
    margin-left: 30px;
}
.image {
    width: 330px;
}

h2 {
    text-align: center;
    color: #6f8baf;
    font-family: 'Aleo', serif;
}

.description-detail{
    text-align: center;
    color: #6f8baf;
    font-family: 'Aleo', serif;
}

@media screen and (min-width: 600px) {
	.image{
        width: 900px;
    }
    .image-box {
        margin-left: 180px;
    }
}

