.image-detail {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.image-detail__card {
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 290px;   
    background-color: #edebe5;

}

.image-box {
    margin-left: 30px;
    
}
.image {
    width: 330px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #99aeb3;
    font-family: 'Lato', sans-serif;
}

.description-detail{
    text-align: center;
    color: #99aeb3;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
   
    
}

.price-detail {
    text-align: center;
    color: #99aeb3;
    font-family: 'Lato', sans-serif;
}

.btn-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
	.image{
        width: 900px;
    }
    .image-box {
        margin-left: 180px;
    }

    .description-detail{
        font-size: 16px;
        margin-left: 200px;
        margin-right: 200px;
       
    }
    .image-detail__card {
        margin-left: 200px;
        margin-right: 200px;
        box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        position: absolute;
        top: 650px;
        background-color: #edebe5;
    
    }
}

