.detail-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
    flex-direction: row;
    box-shadow: 0px 1px 2px 1px #7955483b;
}

.detail__image {
    width: 80%;
    margin: auto;
}

.image {
    width: 100%;    
}

.detail__card {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 90%;   
    left: 0;
    right: 0;
    background-color: #edebe5;
}


.detail__card-name {
    margin-top: 20px;
    text-align: center;
    color: #805f4c;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.detail__card-description {
    text-align: center;
    color: #41555a;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin: 20px 30px auto 30px;
}

.detail__card-price{
    text-align: center;
    color: #41555a;
    font-family: 'Lato', sans-serif;
}

.detail__card-button {
    text-align: center;
}

.btn-book {
    color: #82614e !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 20px !important;
}

@media screen and (min-width: 700px) {
    .detail-wrapper {
        flex-direction: row;
    }

    .detail__image {
        width: 40%;
        min-width: 506px;
        margin: 0;
    }
    
	.image{
        width: 100%;   
        border-radius: none;    
    }
    
    .detail__card {
        width: 60%;
        margin: 0;
        position: unset;           
    }

    .detail__card-name {
       margin-top: 30px;
    }

    .detail__card-description{
        font-size: 16px;
        width: 70%;
        margin: 30px auto auto auto;
       
    }
  
}



